.container{
    margin: 0 auto;
    max-width: 1500px;
    box-sizing: border-box;
    @media(min-width: $screen-lg){
        display: flex;
        justify-content: flex-end;
    }
}

.container-fixed{
    overflow: hidden;
}