@import '../../less/variables.scss';

.more-btn{
    
    display: none;
    
    @media (min-width: $screen-md){
        display: flex;
        align-items: center;
        min-height: 40px;
        max-width: 120px;
        gap: 10px;
        background: inherit;
        border: inherit;
        transition: all 0.3s ease;
        font-family: 'TT Lakes';
        white-space: nowrap;
        font-size: 16px;
        padding-left: 16px;
        display: flex;
        cursor: pointer;
    }

    &__img{
        transition: 0.5s;
    }

    &::before{
        content: url('../img/learn_more_icon.png');
    }

    &.expanded-image::before{
        content: url('../img/learn_more_icon.png');
        transform: rotate(-180deg);
    }
    
}