@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes Medium'), local('TT-Lakes-Medium'),
    url('../fonts/TTLakes/TTLakes-Medium.woff2') format('woff2'),
    url('../fonts/TTLakes/TTLakes-Medium.woff') format('woff'),
    url('../fonts/TTLakes/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}